# just making sure that no weird files are here
.idea
.env
node_modules
venv
dist
.cache
postgreSQL
config.ini

# Inside the settings file, to allow for python loading of .env variables  (to protect db passwords)
settings.py

*.pyc
