# just making sure that no weird files are here (Env setup stuff... etc.)
.idea
.env
node_modules
venv
dist
.cache
postgreSQL
config.ini
setup.py
setup_global.py

#Garbage files, for testing (the name) purposes
test.py

# Inside the settings file, to allow for python loading of .env variables  (to protect db passwords)
settings.py

*.pyc
*.ipynb
