html, body{
    background-color: #04041b;
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    position:fixed;
}

/*Preloader page*/
#preloader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1abc9c;
    transition: opacity 1s, visibility 1s;
}

#preloader.fade {
    opacity: 0;
    visibility: hidden;
}


#main-page{
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 1s;

}

#main-page.show{
    opacity: 1;
    visibility: visible;
}

/* Parent div for body */
#main-body{
    background-color: #04041b;
    height: 100%;
    color: lavender;
    display: flex;
    flex-direction: row;
}

/*Meant for the use of top of bar navigation*/
/* Add a black background color to the top navigation */
.navBar {
    width: 100%;
    z-index: 20;
    overflow: hidden;
    position: absolute;

}

/* Style the links inside the navigation bar */
.navBar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: rgba(222, 213, 255, 0.67);
    background:transparent;
    display: inline-block;
}

/* Change the color of links on hover */
.navBar a:hover {
    border-bottom: 1px solid;
    padding-bottom: 11px;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    position:absolute;
    display: inline-block;
    flex-grow: 1;
    top: 0;
    height: 100%;
    width: 100%;
}

#sidebar{
    padding-left: 2%;
    background-color: #04041b;
    flex-direction: column;
    position: relative;
    left: -25%;
    transition:0s;
    z-index: 10;
}

#sidebar.active{
    left: 0;
    width: 30%;
    height: 100%;
    transition: 1s
}

#key{
    padding-top: 2%;
    height: 20%;
}

#headlines{
    flex-grow: 1;
}

.ol-zoom{
    top: 3em;
    right: .5em;
    left: auto;
}
