html, body{
    background-color: #04041b;
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    position:fixed;
}

/* Parent div for body */
#main-body{
    background-color: #04041b;
    height: 100%;
    color: lavender;
    display: flex;
    flex-direction: row;
}

#main-page{
    height: 100%;
    width: 100%;
}

/*Meant for the use of top of bar navigation*/
/* Add a black background color to the top navigation */
.navBar {
    width: 100%;
    z-index: 20;
    overflow: hidden;
    position: absolute;

}

/* Style the links inside the navigation bar */
.navBar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: rgba(222, 213, 255, 0.67);
    background:transparent;
    display: inline-block;
}

/* Change the color of links on hover */
.navBar a:hover {
    border-bottom: 1px solid;
    padding-bottom: 11px;
}