{% extends "base.html" %}


{% block styles %}
  <link rel="stylesheet" href="/static/styles/map.css">
{% endblock %}


{% block body %}
  <div id = "preloader">Loading...</div>
{% endblock %}

{% block content %}
  <div id="sidebar">
    <div id="navbarSpace" style="height: 5%"></div>
    <div id="status_display" style="height: 5%"></div>
    <div id="sidebar-content">
    <div id="key">to-add colour key?</div>
      <div id="headlines">
      <table id="table">
        <tr>
        <th scope="col">Headline</th>
        <th scope="col">URL</th>
        </tr>
      </table>
      </div>
    </div>
  </div>

  <div id="map"></div>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    const a = ' {{result|safe}} ';
  </script>
  <script src="/public/bundle.js"></script>
{% endblock %}}